.portfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5.5rem 1rem;
}

.card {
  height: 380px;
  max-width: 360px;
  margin:auto;
}

.link {
  font-weight:600 ;
}